.container-qs {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  margin: 0, auto;
}

.btn-qs {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  text-decoration: none;
  text-align: center;

  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
}

.qs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.qs__link {
  color: currentColor;
  text-decoration: none;
}
.qs__link:hover {
  text-decoration: underline;
}

.qs__link--current {
  color: blue;
}

.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.color-picker__option {
  min-width: 40px;
  height: 40px;
  border-radius: 5px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 600px;
  background-color: blue;

  transition: background-color 200ms ease-in;
}

.inner-box {
  width: 200px;
  height: 200px;
  background-color: yellow;
}
.box--active {
  background-color: rgb(35, 140, 238);
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  padding: 24px;
  border-radius: 4px;
  max-width: 640px;
  width: 100%;
  min-height: 320px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}
